footer {
    border-top: 1px solid var(--black);
    background: var(--black);

    & .container-p {
        margin: 1em 0;
    }

    & p {
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
    }

    & .social-end {
        text-align: center;
        padding-bottom: 1em;

        & a {
            color: var(--white);
            padding: 1em;
            

            & i {
                transition: .5s ease-in-out;
                font-size: 20px;
                

                &:hover {
                    transform: scale(1.2);
                    color: var(--hr);
                }
            }
        }
    }
}